---
title: Welcome to Middleman
---
<div class="top-nav-wrapper">
	<nav class="top-nav"> <!-- make a partial -->
		<h1>Golf Tracker</h1>
	</nav>
</div>
<div class="main-content-wrapper">
  <ul class="iphone-list">
  	<li class="avatar first-item iphone-list-item">
  		<a href="/me.html">
  			<img src="/images/ricky.jpeg" />
  			Handicap +3
  			<span class="right-arrow"><i class="icon-chevron-right"></i></span>
  		</a>
  	</li>
  	<li class="previous-round last-item iphone-list-item">
  		<a href="/scorecard.html">Last Round (May 5th, 2012)<span>Tiffany Springs 75 (+3)<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
  	</li>
  </ul>
  <ul class="iphone-list">
  	<li class="only-item iphone-list-item new-round">
  		<a href="/start-round.html"><i class="icon-flag"></i>Start new round<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
  	</li>
  </ul>
</div>

<div class="bottom-nav-wrapper">
	<nav class="bottom-nav"> <!-- make a partial -->
		<div><a href="/index.html"><i class="icon-home"></i>Home</a></div>
		<div><a href="/scorecard.html"><i class="icon-table"></i>Scorecard</a></div>
		<div><a href="/me.html"><i class="icon-user"></i>Me</a></div>
	</nav>
</div>