---
title: Me
---
<div class="top-nav-wrapper">
	<nav class="top-nav"> <!-- make a partial -->
		<a href="index.html"><span class="back"><i class="icon-chevron-left"></i> Back </span></a><h1>Me</h1>
	</nav>
</div>
<div class="main-content-wrapper">
  <ul class="iphone-list">
  	<li class="only-item iphone-list-item">
  			<img src="/images/ricky.jpeg" class="avatar" />
  			Ricky Fowler
        <ul class="stats">
          <li>Home course: Tiffany Springs</li>
          <li>Current Handicap: +3</li>
          <li>Total Rounds: 5</li>
      </ul>
  	</li>
  </ul>
  <h2 class="recent-rounds">Recent Rounds</h2>
  <ul class="iphone-list">
    <li class="previous-round last-item iphone-list-item">
      <a href="scorecard.html">Tiffany Springs 75 (+3)<span>May 5th, 2012<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
  	<li class="previous-round last-item iphone-list-item">
      <a href="scorecard.html">Tiffany Springs 71 (-1)<span>May 2th, 2012<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="scorecard.html">Dakota Dunes 76 (+4)<span>April 20th, 2012<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="scorecard.html">Tiffany Springs 75 (+3)<span>April 5th, 2012<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="scorecard.html">Tiffany Springs 75 (+3)<span>April 4th, 2012<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
  </ul>
</div>

<div class="bottom-nav-wrapper">
	<nav class="bottom-nav"> <!-- make a partial -->
		<div><a href="/index.html"><i class="icon-home"></i>Home</a></div>
		<div><a href="/scorecard.html"><i class="icon-table"></i>Scorecard</a></div>
		<div><a href="/me.html"><i class="icon-user"></i>Me</a></div>
	</nav>
</div>