---
title: Me
---
<div class="top-nav-wrapper">
  <nav class="top-nav"> <!-- make a partial -->
    <a href="index.html"><span class="back"><i class="icon-chevron-left"></i> Back </span></a><h1>Scorecard</h1>
  </nav>
</div>
<div class="main-content-wrapper">
  <ul class="iphone-list">
    <li class="only-item iphone-list-item">
        <i class="icon-flag"></i>
        Tiffany Springs
        <ul class="stats">
          <li>May 5th, 2012</li>
          <li>Kansas City, MO</li>
          <li>Course Par 72</li>
          <li>Your usualy score: 75</li>
      </ul>
    </li>
    <li class="score">75 <span>+3</span>
    </li>
  </ul>
  <h2 class="recent-rounds">Round Results</h2>
  <ul class="iphone-list">
    <li class="previous-round first-item iphone-list-item">
      <a href="tbd.html">Hole 1 - Par<span class="right-arrow">E</span></a>
    </li>
    <li class="previous-round iphone-list-item">
      <a href="tbd.html">Hole 2 - Par<span class="right-arrow">E</span></a>
    </li>
    <li class="iphone-list-item">
      <a href="tbd.html">Hole 3 - <span class="bad-score">Bogey</span><span class="right-arrow bad-score">+1</span></a>
    </li>
    <li class="previous-round iphone-list-item">
      <a href="tbd.html">Hole 4 - Par<span class="right-arrow">+1</span></a>
    </li>
    <li class="iphone-list-item">
      <a href="tbd.html">Hole 5 - <span class="good-score">Birdie</span><span class="right-arrow good-score">E</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 6 - Par<span class="right-arrow">E</span></a>
    </li>
    <li class="last-item iphone-list-item">
      <a href="tbd.html">Hole 7 - <span class="bad-score">Double Bogey</span><span class="right-arrow bad-score">+2</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 8 - Par<span class="right-arrow">+2</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 9 - Par<span class="right-arrow">+2</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 10 - Par<span class="right-arrow">+2</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 11 - Par<span class="right-arrow">+2</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 12 - Par<span class="right-arrow">+2</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 13 - Par<span class="right-arrow">+2</span></a>
    </li>
    <li class="last-item iphone-list-item">
      <a href="tbd.html">Hole 14 - <span class="bad-score">Bogey</span><span class="right-arrow bad-score">+3</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 15 - Par<span class="right-arrow">+3</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 16 - Par<span class="right-arrow">+3</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 17 - Par<span class="right-arrow">+3</span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="tbd.html">Hole 18 - Par<span class="right-arrow">+3</span></a>
    </li>
  </ul>
</div>

<div class="bottom-nav-wrapper">
  <nav class="bottom-nav"> <!-- make a partial -->
    <div><a href="/index.html"><i class="icon-home"></i>Home</a></div>
    <div><a href="/scorecard.html"><i class="icon-table"></i>Scorecard</a></div>
    <div><a href="/me.html"><i class="icon-user"></i>Me</a></div>
  </nav>
</div>