---
title: Start Round
---
<div class="top-nav-wrapper">
  <nav class="top-nav"> <!-- make a partial -->
    <h1>Start a Round</h1>
  </nav>
</div>
<div class="main-content-wrapper">
  <h2 class="recent-rounds">Close to you</h2>
  <ul class="iphone-list">
    <li class="previous-round first-item iphone-list-item">
      <a href="/tbd.html">Tiffany Springs<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="/tbd.html">Hodge Park<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
  </ul>
  <h2 class="recent-rounds">Recent Courses</h2>
  <ul class="iphone-list">
    <li class="previous-round first-item iphone-list-item">
      <a href="/tbd.html">Hodge Park<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
    <li class="previous-round iphone-list-item">
      <a href="/tbd.html">Tiffany Spring<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
    <li class="previous-round last-item iphone-list-item">
      <a href="/tbd.html">Dakota Dunes<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
  </ul>
    <ul class="iphone-list">
    <li class="previous-round only-item iphone-list-item">
      <a href="/tbd.html">Search for a course<span class="right-arrow"><i class="icon-chevron-right"></i></span></a>
    </li>
  </ul>
</div>

<div class="bottom-nav-wrapper">
  <nav class="bottom-nav"> <!-- make a partial -->
    <div><a href="/index.html"><i class="icon-home"></i>Home</a></div>
    <div><a href="/scorecard.html"><i class="icon-table"></i>Scorecard</a></div>
    <div><a href="/me.html"><i class="icon-user"></i>Me</a></div>
  </nav>
</div>