---
title: Coming Soon
---
<div class="top-nav-wrapper">
  <nav class="top-nav"> <!-- make a partial -->
    <h1>Coming Soon</h1>
  </nav>
</div>
<div class="main-content-wrapper">
  <h2 class="recent-rounds">Coming Soon</h2>
  <p>Have not built this one yet...</p>
</div>

<div class="bottom-nav-wrapper">
  <nav class="bottom-nav"> <!-- make a partial -->
    <div><a href="/index.html"><i class="icon-home"></i>Home</a></div>
    <div><a href="/scorecard.html"><i class="icon-table"></i>Scorecard</a></div>
    <div><a href="/me.html"><i class="icon-user"></i>Me</a></div>
  </nav>
</div>